<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:replace="~{fragments :: boostrap}">
<title>Le nostre pizze</title>

</head>
<body>
	<div>
		
		<div class="container">
			<h1>Le Nostre Pizze</h1>
			<div class="row">
				<div class="col">
					<img class="card">
						<h3 th:text="${pizza.getNome()}"></h3>
						<div th:text="${pizza.getDescrizione()}"></div>
						<img th:src="${pizza.getFoto()}"></img>
						<div th:text="'Prezzo:' +' '+${pizza.getPrezzo()}+ '€'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div <link th:replace="~{fragments :: boostrapScript}">
</body>
</html>